.commentAdder {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  height: auto;
  justify-content: center;
  color: rgba(128, 128, 192, 0.8);
}

.commentAdder > .cmntHead {
}

.cmntAddTitle {
  font-size: 4vh;
  padding: 2vh;
  color: rgba(128, 128, 192, 0.8);
}

.labelCmntHead {
  width: 90%;
  font-size: 3vh;
  color: rgba(128, 128, 192, 0.8);
}

.cmntHead {
  padding: 2vh;
  color: rgba(128, 128, 192, 0.8);
}

.cmntBody {
  padding: 2vh;
  color: rgba(128, 128, 192, 0.8);
}

.headingCmntAdd {
  padding: 1vh;
  width: 80%;
  font-size: 3vh;
  padding: 2vh;
  color: rgba(128, 128, 192, 0.8);
}

.textCmntAdd {
  padding: 1vh;
  width: 80%;
  height: 25vh;
  font-size: calc(2vh + 0.5vw);
  padding: 2vh;
  color: rgba(128, 128, 192, 0.8);

}

.buttonCmntAdd {
  text-align: center;
  justify-content: center;
  align-items: center; 
  padding: 1vh;
  width: 50%;
  font-size: 2vh;
  padding: 2vh;
  margin: 2vh 20%;
  color: white; 
  background: linear-gradient(rgba(255, 128, 192, 0.2), rgba(128, 128, 192, 0.8), rgba(128, 128, 192, 0.8));
  border: 0.5px rgb(187, 162, 221) solid;

}